body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('bgport.png') no-repeat center center fixed; 
    background-size: cover;
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Transparent gray */
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

header h1 {
    margin: 0;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#hero {
    text-align: left;
    padding: 50px 0;
}

.hero-content {
    max-width: 600px;
    margin: 0;
    color: #000; /* Set text color to black */
    text-shadow: 1px 1px 2px #fff; /* Add a white text shadow */
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.contact-info p {
    margin: 5px 0;
    color: #000; /* Set text color to black */
    text-shadow: 1px 1px 2px #fff; /* Add a white text shadow */
}

footer {
    background-color: rgba(51, 51, 51, 0.8); /* Transparent gray */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}
